li{
    list-style:none;
}
p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
.list >*{
    display: flex;
    align-items: center;
}
.list  .priceBox{
    display: flex;
    width: 200px;
    margin: 0 0 0 auto;
    text-align: center;
}
.list  .priceBox p{
    flex: 1;
    margin-left: 10px;
}
.App{
    width: 600px;
}
.App form{
    text-align: right;
}
.bar{
    text-align: center;
    margin: 0 0 0 auto;
    width: 200px;
    display: flex;
}
.bar *{
    flex: 1;
}